* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tienda-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "sidebar main main main"
        "footer footer footer footer";
    gap: 10px;
}

header {
    grid-area: header;
    background-color: rgb(84, 84, 255);
    height: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
}

aside {
    grid-area: sidebar;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 3px 5px 15px rgb(66, 66, 66);

}

ul {
    list-style: none;
}

button {
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: black;
    color: white;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 144, 85);
    color: black;
}

main {
    grid-area: main;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    border-radius: 15px;
    height: 40%;
}

.destacado img {
    height: 80%;
}

footer {
    grid-area: footer;
    background-color: rgb(84, 84, 255);
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
}

.productos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
    height: auto;
}

@keyframes producto-grid-animation {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

.producto {
    width: 100%;
    border-radius: 15px;
    box-shadow: 3px 5px 15px rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.producto:hover {
    background-color: white;
    animation-name: producto-grid-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: 10;
}

.producto h2 {
    font-size: 40px;
}

.precio {
    font-size: 35px;
}


.destacado {
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 15px;
    box-shadow: 3px 5px 15px rgb(66, 66, 66);
}



@media screen and (max-width: 992px) {
    .tienda-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header"
            "sidebar main "
            "footer footer";
    }

    .productos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        grid-auto-rows: auto;
    }


}

@media screen and (max-width: 768px) {
    .tienda-layout {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "sidebar"
            "main"
            "footer";
    }

    .productos-grid {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        grid-auto-rows: auto;
    }

    .destacado {
        grid-column: span 1;
        grid-row: span 1;
    }

    .destacado img {
        height: 40%;
    }
}